 {% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %} 
<div class="row justify-content-center mt-4">
    <div class="col-md-8 col-sm-8 bg-white rounded shadow-lg mt-4 pt-2 px-5 pb-5">
        <div class="card w100 border-0">
            
            <div class="card-body">
                <form action="." enctype="multipart/form-data" method="POST" id="ProUpdate__form"> {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Edit your Profile Info</legend>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                {{ u_form.first_name | as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ u_form.last_name | as_crispy_field }}
                            </div> 
                        </div> 
                        <div class="ImgToHide">
                            {{ p_form.image | as_crispy_field }}
                        </div>
                        <img class="card-img-top mt-2 PoNeImg img-responsive" style="width: 90%;" src="{{user.profile.image.url}}" alt="">
                    </fieldset>
                    <div class="form-group">
                        <h6 id="ProUpdate__show"></h6>
                        <img src="{% static 'images/ajax-loader.gif' %}" style="Display:none;" id="ProUpdate__img">
                        <button class="btn btn-outline-info" type="submit"  onclick="submit_form('ProUpdate__form', 'ProUpdate__submit', 'ProUpdate__img', 'ProUpdate__show', 'yes')" id="ProUpdate__submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#id_image').change(function(){
            if (this.files[0]) {
                var fileReader = new FileReader();
                fileReader.onload = function (e) {
                    $(".PoNeImg").attr('src', e.target.result);
                }
                fileReader.readAsDataURL(this.files[0]);
            }
        })
        $('.PoNeImg').click(function(){
            $('#id_image').trigger('click')
        })
    })
</script>
{% endblock  %}